*{
    list-style: none;
    text-decoration: none;
    color: white;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    width: 1300px;
}
 
header{
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr 1fr;
    background-color: green;
    color: white;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
    padding: 0px;
    box-shadow: 0 0 18px green;
    height: 42px;
    align-items: center;
    border-bottom: 4px solid black;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

header:hover{
    padding-left: 20px;
    color: black;
    transition-property: color;
    transition-duration: 1s;
}
header img{
    border: 2px solid black;
    border-radius: 40%;
}
header a i{
    font-size: 20px;
}
header a{
    color: white;
}
header a:hover{
    padding-left: 20px;
    color: black;
    transition-property: color;
    transition-duration: 1s;
}

.sidebar{
    border-top: 4px solid black;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    top: 42px;
    background: green;
    box-shadow: 0 0 18px green;
     
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    color: white;
    padding-left: 2px;
    box-sizing: border-box;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transition: .5s;
    font-size: 20px;
    text-transform: capitalize;
    margin-left: -20px;
}
.sidebar ul a i{
    font-size: 25px;
    margin-right: 3px;
}
ul li:hover a{
    padding-left: 20px;
    color: black;
    transition-property: color;
    transition-duration: 1s;
}
section{
    margin-left: 280px;
    margin-top: 50px;
    margin-bottom: 0px;
}
 
footer{
    font-size: large;
    text-align: center;
}
h2{
    text-align: center;
    text-transform: uppercase;
    text-decoration: wavy;

}
.nav2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;

}
.nav2 button{
    color: white;
    background-color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    border-radius: 5px;
    text-transform: capitalize;
    border-width: 0px;
    margin-left: 60px;
    box-shadow: inset  0 0 10px black;
}
.nav2 button:hover{
    background-color: rgb(3, 137, 3);
    cursor: pointer;
    border: 1px solid black;
    box-shadow:   0 0 10px green;
     
}
table{
    width: 100%;
    padding: 5px;
    margin: 5px;
    text-transform: uppercase;
}
table , th, td{
    border-bottom: 1px solid green;
    border-collapse: collapse;
    text-align: center;
}
tr:nth-child(even){
    background-color: rgb(158, 157, 157);
}
th:nth-child(odd){
    background-color: gainsboro;
}
.head{
    font-size: larger;
}
label{
    text-transform: uppercase;
    font-size: 20px;
    padding:5px ;
    margin-left: 8px;
     
    border-radius: 10px;
}
input[type = "text"],input[type = "number"],input[type = "password"]{
    padding: 5px;
    margin-top: 10px;
    text-transform: uppercase;
    color: green;
    width: 370px;
    border: 4px solid green;
    height: 20px;
    border-radius: 10px;
    margin-left: 20px;
}
select{
    background-color: white;
    padding: 5px;
    margin-top: 10px;
    text-transform: uppercase;
    color: green;
    width: 350px;
    border: 4px solid green;
    height: 40px;
    border-radius: 10px;
    margin-left: 20px;
   
}
option{
    background-color: green;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
}   
span{
    padding: 5px;
    text-transform: capitalize;
    height: 40px;
}
.sep{
    color: green;
    font-weight: 400;
}
.add_student input[type = "submit"]{
    background-color: green;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-top: 7px;
    align-items: center;
    border-radius: 10px;
    text-transform: capitalize;
    margin-left: 450px ;
}
.delete input[type = "submit"], .update input[type = "submit"] {
    background-color: green;
    color: white;
    padding: 10px;
    cursor: pointer;
 
    border-radius: 10px;
    text-transform: capitalize;
     
}
.container{
    margin-top: 10px;
    width: 700px;
    margin: 5px auto;
    border-radius: 5px;
    border-top: 3px solid green;
    border-bottom: 3px solid green;
    padding: 10px;
    box-shadow: inset 0 0 4px green, 0 0 4px green;
}
#regbtn{
    margin-left: 45%;
    width: 70px;
}
#pic{
    border-radius: 20%;
}
.password{
    width: 900px;
}
.password input{
    width: 220px;
}
.count{
    color: green;
    border-radius: 5px;
    box-shadow: inset 0 0 8px green, 0 0 4px black;
    margin-left: 40px;
}
.count1{
    box-shadow: inset 0 0 8px green, 0 0 4px black;
    font-size: 18px;
    background-color: white;
    color: green;
    padding: 1px;
}
.real a{
    border-bottom: 2px solid white;
}
marquee{
    text-transform: capitalize;
}